:root {
    --main-color: #262626;
    --secondary-color: #cecece;
    --font-family: 'Montserrat', sans-serif;
}

h1 {
    color: var(--secondary-color);
    font-size: 3em;
}
body {
    background-color: var(--main-color);
    font-family: var(--font-family);
}
.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.content {
    text-align: center;
    margin: 0 auto;
    height: 50vh;
}
#search-bar {
    font-size: 2em;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.button-div {
    margin-top: 10px;
}
.button-div > button {
    height: 40px;
    width: 150px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
}
